$grey: #CCC8C5;
$light-grey:#D6D2D0;
$light-blue:#7895BB;
$dark-grey:#9B948D;
$headerfont: 'Mukta', sans-serif;
<<<<<<< HEAD
$text-align: center;
=======
$bodyfont: 'Slabo 27px', serif;

>>>>>>> 18d991196e1223e70355679c86f1b23fbc2b2e46
